services:
  music-assistant:
    image: ghcr.io/music-assistant/server:latest
    container_name: music-assistant
    restart: unless-stopped
    network_mode: host
    environment:
      - TZ=${TZ}
      - LOG_LEVEL=info
    volumes:
      - ${BASE_PATH}/music-assistant/data:/data
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    security_opt:
      - apparmor:unconfined
    labels:
      - "portainer.managed=true"

  bgutil-provider:
    image: brainicism/bgutil-ytdlp-pot-provider:latest
    container_name: bgutil-pot-provider
    restart: unless-stopped
    network_mode: host
    init: true
    labels:
      - "portainer.managed=true"