version: "3.9"

services:
  music-assistant:
    image: ghcr.io/music-assistant/server:latest
    container_name: music-assistant
    network_mode: host
    restart: unless-stopped
    environment:
      - TZ=${TZ}
    volumes:
      - ${BASE_PATH}/music-assistant/data:/data
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8095"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    labels:
      - "portainer.managed=true"
